
$break3: 660px
$break4: 580px
$break5: 570px
$break6: 375px

@mixin breakpoint($point)
  @if $point == largest
    @media only screen and (max-width: 100000px)
      @content
  @else if $point == larger
    @media only screen and (max-width: 100000px)
      @content

  @else if $point == large
    @media only screen and (max-width: 1399px)
      @content
  @else if $point == biggest
    @media only screen and (max-width: 1200px)
      @content
  @else if $point == bigger
    @media only screen and (max-width: 850px)
      @content
  @else if $point == big
    @media only screen and (max-width: 570px)
      @content
  @else if $point == smallest
    @media only screen and (max-width: 460px)
      @content
  @else if $point == smaller
    @media only screen and (max-width: 420px)
      @content

  @else if $point == small
    @media only screen and (max-width: 735px)
      @content
  @else if $point == tiny
    @media only screen and (max-width: 10px)
      @content


@mixin el-fadein($duration)
  visibility: hidden
  opacity: 0
  -webkit-transition: opacity $duration
  transition: opacity $duration
  pointer-events: none

  &--visible
    visibility: visible
    opacity: 1
    pointer-events: auto
    @content

@mixin text-ellipsis
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap


