$color-showcase-header: white

.header
  width: 100%
  height: $header-height
  position: relative
  align-items: center
  justify-content: space-between
  display: flex

  &_logo

  &_sandwich

    @media only screen and (min-width: 851px)
      display: none

    body.is-opened &
      position: relative
      z-index: 11

.menu

  @include breakpoint(bigger)
    display: none

  &_list
    display: flex
    flex-wrap: wrap

  &_item
    margin-left: 1.5em

  &_link
    font-size: $font-stack-medium-fs-4
    font-weight: $font-stack-medium-fw
    color: #0d0d0d
    text-transform: lowercase

  &_line
    margin: 30px 0
    display: none

  body.is-opened &
    width: 100%
    height: 100%
    background-color: rgba(255, 255, 255, .97)
    padding-top: 100px
    position: fixed
    top: 0
    left: 0
    z-index: 10
    display: block


.inst
  white-space: nowrap
  padding-left: 30px
  position: relative
  display: inline-block

  &:before
    width: 24px
    height: 24px
    content: ''
    background: url('https://www.instagram.com/static/bundles/metro/sprite_glyphs_a7aeacb41348.png/a7aeacb41348.png') -84px -100px no-repeat
    position: absolute
    left: 0
    top: 50%
    -webkit-transform: translateY(-50%)
    transform: translateY(-50%)
  
  &_title
    font-size: $font-stack-medium-fs
    font-weight: $font-stack-medium-fw
    color: #292929
    vertical-align: middle
    display: inline-block



.subnav
  width: 100%
  min-height: 60px
  background-color: white
  border-bottom: 1px solid #eaeaea
  padding-left: $space-2
  padding-right: $space-2
  -webkit-transform: translate3d(0, -300%, 0)
  transform: translate3d(0, -300%, 0)
  -webkit-transition: transform $trans-faster ease
  transition: transform $trans-faster ease
  position: fixed
  top: 0
  left: 0
  z-index: 10
  align-items: center
  justify-content: space-between
  display: flex

  &--visible
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

  &_logo
    border: 0

  &_content
    min-width: $content-width
    position: relative
    align-items: center
    justify-content: space-between
    display: flex

    @media only screen and (max-width: 1800px)
      padding-left: 0
      padding-right: 0

    @media only screen and (max-width: 1360px)
      text-align: center

  &_title
    font-size: $font-stack-medium-fs-2
    font-weight: $font-stack-medium-fw

    @media only screen and (max-width: 1100px)
      display: none







