.b-sandwich
  font-size: 0
  padding: 5px 16px
  cursor: pointer

  &_item
    width: 6px
    height: 6px
    background-color: white
    border-radius: 100%
    -webkit-transition: background-color $trans-fastest ease
    transition: background-color $trans-fastest ease
    margin-bottom: 5px

    &:last-child
      margin-bottom: 0


